h2
  div Test #{version}
  span Welcome
  span.firstName #{firstname} 
  span.lastName #{lastname}

#form
  form
    select.form-control
        option='none'
        each val in tmodels
          if id === val.id
            option(selected='selected')=val.id
          else
            option=val.id
          

#content
  input(type=text, value='#{firstname}').firstName
  input(type=text, value='#{lastname}').lastName
  input(type=text, value='#{firstname}').firstName
  input(type=text, value='#{lastname}').lastName
    
p Time to get busy with this magic!
